/* colors used: 
* #c7dec6 @light-green */ 

#panels #statsPanel {
    flex: 0 0 150px;
    /*background-color: #fbfbfb;*/
    border: 2px black solid;
}
    
    #panels #statsPanel h3 {
        margin: 8px;
        color: #AA3939; /* @dark-pink */         
    }

    #panels #statsPanel p {
        margin-right: 14px;
        margin-left: 14px;
        font-size: 12px;
        line-height: 21px;
    }

#addNewGraphStat {
    cursor: pointer; 
}

    #addNewGraphStat:hover {
        color: #000;
    };

#statsPanel > #graphStatsPanel, #statsPanel > #nodeStatsPanel {
    flex: 1;
}

    #nodeStatsPanel {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }

#statsPanel ul {
    list-style-type: none;
    margin: 0;
    padding:0px;
}

    #statsPanel ul li {
        padding: 7px;
        margin: 1px 0px;
        font-size: 11px;
        border-bottom: 6px #ffffff00 solid;
    }

        #statsPanel ul li:first-child {
            /*border-top: 1px #d8d8d8 solid;*/
        }

#nodeStatsPanel {
    margin-top: 10px;
    border-top: 2px black solid;
}

#addNewNodeStat, #addNewGraphStat { /* icon buttons */ 
    float: right;
    margin: 4px;
}